.mainContainer {
    background: rgb(0, 0, 0);
    min-height: 100vh;
    padding: 5rem;
    display: grid;
    grid-template-columns: 15rem 1fr;
    
}
.leftContainer {
    
}
.rightContainer {
    
}
.pTag {
    color: aqua;
}
.newBladeContainer {
    background-color: rgba(135, 209, 222, 0.596);
    display: flex;
    justify-content: space-between;
    width: 15rem;
    margin: .5rem 0;
    padding: .3rem .5rem;
    border-radius: 5px;
    align-items:center ;
}
.deleteButton {
    color: rgb(233, 124, 124);
    cursor: pointer;
}