.mainContainer {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  background-size: cover;
  repeat: no-repeat;
  min-height: 100vh;
  padding: 5rem;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-areas: "left right";
  min-width: 100vw;
}
.header {
  color: #535353;
  margin-bottom: 2rem;
}
.btn {
  border: 1px solid #5a5a5a;
  padding: 0.5rem;
  width: 12.5rem;
  background-color: transparent;
  border-radius: 5px;
  margin: 0.5rem 0;
  color: #3f3f3f;
  transition: 0.5s;
}
.btn:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}
.icon {
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
}
.leftContainer {
  grid-area: left;
}
.rightContainer {
  grid-area: right;
}
.pTag {
  color: 564f6f;
  min-width: 6rem;
  color: rgb(28, 53, 121);
}
.inputText {
  font-style: italic;
  color: #696969;
}
.bladeviewHeader {
  margin: 1rem 0;
  color: #4d4d4d;
  font-weight: bold;
}
.serial {
  width: 5rem;
  color: rgb(231, 214, 189);
}
.type {
  width: 17rem;
  color: 564f6f;
  color: rgb(23, 27, 63);
}
.newBladeContainer {
  background-color: #7372b3;
  display: flex;
  width: 27rem;
  margin: 0.5rem 0;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  align-items: center;
  transition: background-color 0.5s;
}
.newBladeContainer:hover {
  cursor: pointer;
  background-color: #3b5ebe;
}
.deleteButton {
  color: rgb(233, 124, 124);
  cursor: pointer;
  width: 2rem;
}
.typeCountContainer {
  display: flex;
  flex-direction: row;
}
.count {
  margin-right: 1rem;
  color: #535353;
}
.typeCountHeader {
  color: #5c5c5c;
  margin: 1rem;
}
@media screen and (max-width: 850px) {
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "left left"
      "right right";
    padding: 1rem;
    place-items: center;
  }
}
